<%- include('header',{ title:'Login' }); -%>

<div class="table">
    <table table table-bordered>
    <thead class="thead-dark">
        <tr>
        <th scope="col">Id<th>
        <th scope="col">Car Name</th>
        <th scope="col">Category</th>
        <th scope="col">Fuel Type</th>
        <th scope="col">Price ($)</th>
        <th scope="col">Seat Capacity</th>
        <th scope="col">Car Image</th>
        <tr>
    </thead>
    <tbody>
        <% if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
    <tr>
        <th scope="row"><%=i; %></th>
        <td></td>
        <td><%=data.car_name %></td>
        <td><%=data.category %></td>
        <td><%=data.fuel_type %></td>
        <td><%=data.price %></td>
        <td><%=data.seat_capacity %></td>
        <td><img width="50%" height="20%" alt="User Pic" src="http://localhost:5000/images/uploaded_images/<%=data.image%>" class="img-circle img-responsive"></td>
    </tr>
    <%  i++; }) %>
    <% } else{ %>
        <tr>
            <td colspan="7">No Data Found</td>
        </tr>
    <% } %>
    </tbody>
    </table>
</div>

<%- include('footer'); -%>