<%- include('header',{ title:'Login' }); -%>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">NewVile Car Rental</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" method="POST" action="/cars/find">
        <input class="form-control mr-sm-2" type="search" placeholder="Search by Category" aria-label="Search" name="search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<div class="container pt-1 pb-5" >
    <table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col"> Car Id<th>
        <th scope="col">Car Name</th>
        <th scope="col">Category</th>
        <th scope="col">Fuel Type</th>
        <th scope="col">Price ($)</th>
        <th scope="col">Seat Capacity</th>
        <th scope="col">Car Image</th>
        </tr>
    </thead>
    <tbody>
        <% if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
    <tr>
        <th scope="row"><%=i; %></th>
        <td></td>
        <td><%=data.car_name %></td>
        <td><%=data.category %></td>
        <td><%=data.fuel_type %></td>
        <td><%=data.price %></td>
        <td><%=data.seat_capacity %></td>
        <td><img width="50%" height="5%" alt="User Pic" src="http://localhost:5000/images/uploaded_images/<%=data.image%>" class="img-circle img-responsive"></td>
    </tr>
    <%  i++; }) %>
    <% } else{ %>
        <tr>
            <td colspan="7">No Data Found</td>
        </tr>
    <% } %>
    </tbody>
    </table>
</div>

<%- include('footer'); -%>